body,html{
    height: 100%;
    margin:0 auto;
    scroll-behavior: smooth;
}   

.link{
    color: coral;
    padding: 10px 30px;
}
.link:hover{
    background: beige;
}
.section1{
    background: url(../img/PSX_20190421_220121.jpg);
    height: 60%;
     padding:20px 0px;
    padding:100px 0px;
    text-align: center; 
   
}
.judul{
    font-family: inherit;
    font-size: 20px;
    text-align: center;
    color: black;
}
.sub-judul{
    font-family: inherit;
    font-size: 20px;
    color: black;
    text-align: center;
}
.section2{
     background: url(../img/food%20blur.jpg);
    height: 60%;
    padding:20px 0px;
    padding:100px 0px;
    text-align: center;
    font-family: cursive;
    
}.section3{
    background: url(../img/booke%20blur.jpg);
    height: 60%;
    padding:20px 0px;
    padding:100px 0px;
    text-align: center;
    font-family: cursive;
}
}.section4{
    background: url(../img/clothing.jpg);
    margin: auto;
    padding:100px 100px;
    text-align: center;
    font-family: monospace;
}
.col-kiri{
    background: white;
}
.col-kanan{
    background: #FFDAB9;
}
